{% load static %}
<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
  <div style="margin:50px auto;width:70%;padding:20px 0">
    <div style="border-bottom:1px solid #eee; display: flex; align-items: center;">
      <img src="{% static 'uchlogo.png' %}" alt="" style="width: 30px; margin-right: 10px;">
      <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">
        UTY Creative Hub
      </a>
    </div>
    <p style="font-size:1.1em">
      Hi, {% if name %} {{name}} {% endif %}
    </p>
    <p>
      Berikut adalah kode verifikasi OTP (One-Time Password) Anda untuk layanan UTY Creative Hub:
    </p>
    <h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">
      {{otp_code}}
    </h2>

    <p>Kode ini berlaku selama 2 menit.

      <strong>JANGAN MEMBAGIKAN KODE INI KEPADA SIAPAPUN.</strong>

      Jika Anda tidak mendaftar untuk layanan ini, abaikan email ini.
    </p>

    <p style="font-size:0.9em;">
      Salam,<br />
      UTY Creative Hub
    </p>
    <hr style="border:none;border-top:1px solid #eee" />
    <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
      <p>Yogyakarta</p>
      <p>UTY Creative Hub</p>
    </div>
  </div>
</div>